@model PaginacionViewModel<LoteModel>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                         <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h2 class="m-0">Lotes</h2>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <a class="btn btn-primary" asp-area="" asp-controller="Lotes" asp-action="Create">
                                        Nuevo Lote
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Urbanización</th>
                                        <th>Manzana</th>
                                        <th>Letra</th>
                                        <th>Metros 2</th>
                                        <th>Precio Por Metro</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td>@item.Urbanizacion?.Nombre</td>
                                            <td>@item.Manzana</td>
                                            <td>@item.Letra</td>
                                            <td>@item.MetrosCuadrados</td>
                                            <td>@item.PrecioPorMetro</td>
                                            <td>
                                                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.LoteID">Editar</a>
                                                <a class="btn btn-danger text-white  delete-dialog-window"  data-lote="@item.LoteID">Eliminar</a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer justify-content-end">
                            <div class="row">
                                <div class="col-12 ">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            @if (Model.PaginaActual > 1)
                                            {
                                                        <li class="page-item"><a class="page-link" href="?pagina=1">Primera</a></li>
                                                        <li class="page-item"><a class="page-link" href="?pagina=@(Model.PaginaActual - 1)">Anterior</a></li>
                                            }

                                            @for (int i = 1; i <= Math.Ceiling((double)Model.TotalItems / Model.TamanoPagina); i++)
                                            {
                                                    <li class="page-item @(i == Model.PaginaActual ? "active" : "")"><a class="page-link" href="?pagina=@i">@i</a></li>
                                            }

                                            @if (Model.PaginaActual < Math.Ceiling((double)Model.TotalItems / Model.TamanoPagina))
                                            {
                                                    <li class="page-item"><a class="page-link" href="?pagina=@(Model.PaginaActual + 1)">Siguiente</a></li>
                                                    <li class="page-item"><a class="page-link" href="?pagina=@(Math.Ceiling((double)Model.TotalItems / Model.TamanoPagina))">Última</a></li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


